.grunt .css-compile {
    opacity: 1;
    color: #8dc63f;
    position: relative;

    &:after {
        background: url('/src/images/check.png');
        background-size: contain;
        content: '';
        position: absolute;
        left: 100%;
        top: 4px;
        width: 20px;
        height: 20px;
    }
}
